In [7]:
import os
import pandas as pd
from pathlib import Path

csv = pd.read_csv("dataset/cat_breed.csv")
csv

,Unnamed: 0,id,url,type,age,gender,size,coat,breed,photos,med_photos
0,0,46744842,https://www.petfinder.com/cat/arianna-46744842...,Cat,Adult,Female,Medium,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
1,1,46717321,https://www.petfinder.com/cat/ozzy-46717321/oh...,Cat,Adult,Male,Extra Large,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
2,2,46626338,https://www.petfinder.com/cat/zena-46626338/ca...,Cat,Senior,Female,Medium,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
3,3,46620170,https://www.petfinder.com/cat/mika-46620170/ca...,Cat,Baby,Female,Small,Short,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
4,4,46582751,https://www.petfinder.com/cat/ruby-46582751/fl...,Cat,Young,Female,Medium,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
...,...,...,...,...,...,...,...,...,...,...,...
67140,70984,43781057,https://www.petfinder.com/cat/jasper-43781057/...,Cat,Baby,Male,Medium,Short,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
67141,70985,43773439,https://www.petfinder.com/cat/missy-43773439/o...,Cat,Adult,Female,Medium,Short,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
67142,70986,43773383,https://www.petfinder.com/cat/bandit-43773383/...,Cat,Young,Female,Large,Short,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
67143,70987,43773168,https://www.petfinder.com/cat/maxy-43773168/ut...,Cat,Adult,Male,Medium,Medium,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...
67144,70988,46336858,https://www.petfinder.com/cat/rolo-46336858/oh...,Cat,Baby,Male,Small,Medium,York Chocolate,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...

In [11]:
image_data = []
base_dir = Path('dataset/images')

for breed_folder in os.listdir(base_dir):
    folder_path = os.path.join(base_dir,breed_folder)
    if os.path.isdir(folder_path):
        for filename in os.listdir(folder_path):
            if filename.endswith((".jpg", ".png", ".jpeg")):
                name_without_extension = os.path.splitext(filename)[0]
                img_id = name_without_extension.split("_")[0]
                image_data.append({
                    "img_path" : os.path.join(folder_path,filename),
                    "id": img_id
                })
img_df = pd.DataFrame(image_data)
img_df

                                                img_path        id
0             dataset\images\Abyssinian\12136161_252.jpg  12136161
1             dataset\images\Abyssinian\13743713_251.jpg  13743713
2             dataset\images\Abyssinian\14092337_250.jpg  14092337
3             dataset\images\Abyssinian\14475392_248.jpg  14475392
4             dataset\images\Abyssinian\16485182_247.jpg  16485182
...                                                  ...       ...
118740             dataset\images\Tuxedo\46803894_20.jpg  46803894
118741             dataset\images\Tuxedo\46804405_13.jpg  46804405
118742              dataset\images\Tuxedo\46806582_5.jpg  46806582
118743              dataset\images\Tuxedo\46806627_4.jpg  46806627
118744  dataset\images\York Chocolate\46336858_40884.jpg  46336858

[118745 rows x 2 columns]

In [16]:
csv['id'] = csv['id'].astype(str)
img_df['id'] = img_df['id'].astype(str)

final_df = pd.merge(csv,img_df, on="id", how="left")
final_df

,Unnamed: 0,id,url,type,age,gender,size,coat,breed,photos,med_photos,img_path
0,0,46744842,https://www.petfinder.com/cat/arianna-46744842...,Cat,Adult,Female,Medium,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Abyssinian\46744842_10.jpg
1,1,46717321,https://www.petfinder.com/cat/ozzy-46717321/oh...,Cat,Adult,Male,Extra Large,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Abyssinian\46717321_22.jpg
2,2,46626338,https://www.petfinder.com/cat/zena-46626338/ca...,Cat,Senior,Female,Medium,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Abyssinian\46626338_2.jpg
3,3,46620170,https://www.petfinder.com/cat/mika-46620170/ca...,Cat,Baby,Female,Small,Short,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Abyssinian\46620170_3.jpg
4,4,46582751,https://www.petfinder.com/cat/ruby-46582751/fl...,Cat,Young,Female,Medium,NaN,Abyssinian,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Abyssinian\46582751_4.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
67140,70984,43781057,https://www.petfinder.com/cat/jasper-43781057/...,Cat,Baby,Male,Medium,Short,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Tuxedo\43781057_7295.jpg
67141,70985,43773439,https://www.petfinder.com/cat/missy-43773439/o...,Cat,Adult,Female,Medium,Short,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Tuxedo\43773439_7304.jpg
67142,70986,43773383,https://www.petfinder.com/cat/bandit-43773383/...,Cat,Young,Female,Large,Short,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Tuxedo\43773383_7305.jpg
67143,70987,43773168,https://www.petfinder.com/cat/maxy-43773168/ut...,Cat,Adult,Male,Medium,Medium,Tuxedo,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\Tuxedo\43773168_7306.jpg
67144,70988,46336858,https://www.petfinder.com/cat/rolo-46336858/oh...,Cat,Baby,Male,Small,Medium,York Chocolate,[{'small': 'https://dl5zpyw5k3jeb.cloudfront.n...,['https://dl5zpyw5k3jeb.cloudfront.net/photos/...,dataset\images\York Chocolate\46336858_40884.jpg