In [1]:
from data_processing import CatDataProcessor
import pandas as pd

csv = pd.read_csv("dataset/cat_breed.csv")

proc = CatDataProcessor("dataset")
imgDf = proc.create_image_dataframe()

In [2]:
merged_df = proc.merge_dataframe(imgDf)

print(f"Length of Dataframe_folder {len(imgDf)}")
print(f"Length of CSV {len(csv)}")
print(f"Length of Dataframe {len(merged_df)}")

merged_df

Warning:: 43 breed mismatches are found between csv and folder
Length of Dataframe_folder 118745
Length of CSV 67145
Length of Dataframe 62524

,id,img_path,breed
0,12136161,dataset\images\Abyssinian\12136161_252.jpg,Abyssinian
1,13743713,dataset\images\Abyssinian\13743713_251.jpg,Abyssinian
2,14092337,dataset\images\Abyssinian\14092337_250.jpg,Abyssinian
3,14475392,dataset\images\Abyssinian\14475392_248.jpg,Abyssinian
4,16485182,dataset\images\Abyssinian\16485182_247.jpg,Abyssinian
...,...,...,...
62519,46803894,dataset\images\Tuxedo\46803894_20.jpg,Tuxedo
62520,46804405,dataset\images\Tuxedo\46804405_13.jpg,Tuxedo
62521,46806582,dataset\images\Tuxedo\46806582_5.jpg,Tuxedo
62522,46806627,dataset\images\Tuxedo\46806627_4.jpg,Tuxedo
62523,46336858,dataset\images\York Chocolate\46336858_40884.jpg,York Chocolate

In [3]:
df = proc.load_and_validate_data()

Warning:: 43 breed mismatches are found between csv and folder
62524 files are valid
Final dataset : 62524 samples and 67 breeds
Breeds : ['Abyssinian', 'American Bobtail', 'American Curl', 'American Shorthair', 'American Wirehair', 'Applehead Siamese', 'Balinese', 'Bengal', 'Birman', 'Bombay', 'British Shorthair', 'Burmese', 'Burmilla', 'Calico', 'Canadian Hairless', 'Chartreux', 'Chausie', 'Chinchilla', 'Cornish Rex', 'Cymric', 'Devon Rex', 'Dilute Calico', 'Dilute Tortoiseshell', 'Domestic Long Hair', 'Domestic Medium Hair', 'Domestic Short Hair', 'Egyptian Mau', 'Exotic Shorthair', 'Extra-Toes Cat - Hemingway Polydactyl', 'Havana', 'Himalayan', 'Japanese Bobtail', 'Javanese', 'Korat', 'LaPerm', 'Maine Coon', 'Manx', 'Munchkin', 'Nebelung', 'Norwegian Forest Cat', 'Ocicat', 'Oriental Long Hair', 'Oriental Short Hair', 'Oriental Tabby', 'Persian', 'Pixiebob', 'Ragamuffin', 'Ragdoll', 'Russian Blue', 'Scottish Fold', 'Selkirk Rex', 'Siamese', 'Siberian', 'Silver', 'Singapura', 'Snowshoe', 'Somali', 'Sphynx - Hairless Cat', 'Tabby', 'Tiger', 'Tonkinese', 'Torbie', 'Tortoiseshell', 'Turkish Angora', 'Turkish Van', 'Tuxedo', 'York Chocolate']